@import "tailwindcss";

@tailwind utilities;

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  max-width: 1000px;
  margin: auto;
}

button {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}
