@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1000px;
  margin: auto;
}

button {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}
